@charset "UTF-8";
/* CSS Document */

h1{
	font-family: 'Montserrat', sans-serif;
	}

h2{
	font-family: 'Montserrat', sans-serif;
	}
h3{
	font-family: 'Montserrat', sans-serif;
	padding-bottom:40px;
	padding-top:20px;
	}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	/* position: relative;
  display: block;*/
}

li {
	display:inline;
	font-family: 'Montserrat', sans-serif;
	
	}
a:link, a:visited {
    /*width: 600px;*/
    color: #3F4146;
    /*background-color: #F9F8F9;*/
    text-align: center;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
}
.admin{
	color: #fff;
}

a:hover, a:active {
   /* background-color: #7A991A;*/
}

.navbar-nav{
	padding-top:10px;
	margin-top:5px;
	}

/*search bar*/

    #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }   
    .search-query:focus{
        width: 260px;
    }  
	/*end search bar*/
	
	/*featured product*/
	.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d824c9;
}
	
	.navbar-header{
		background-color: #f4f4f4;
		}
	.navbar-nav{
		background-color: #f4f4f4;
		}
	.navbar-inverse{
		background-color:#f4f4f4;
	}
	footer{
		background-color:#f4f4f4;
		padding-bottom: 25px;
		padding-top: 40px;
	}
	.fa-facebook{
		padding:5px;
		color:#d824c9;
	}
    .fa-twitter{
		padding:5px;
		color:#d824c9;
	}
    .fa-google-plus{
		padding:5px;
		color:#d824c9;
	}
    .fa-pinterest-p{
		padding:5px;
		color:#d824c9;
	}
	/*Payment page*/
		
	.panel-title {
		display: inline;font-weight: bold;
		}
	.checkbox.pull-right { 
	margin: 0; 
	}
	.pl-ziro { 
	padding-left: 0px; 
	}
	/*client page*/
	.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.roundcorners{
	border-radius: 3px;
	
}

/*Admin stuff*/

	.row{
		   /* margin-top:40px;*/
		    padding: 0 10px;
		}
		.clickable{
		    cursor: pointer;   
		}

		.panel-heading div {
			margin-top: -18px;
			font-size: 15px;
		}
		.panel-heading div span{
			margin-left:5px;
		}
		.panel-body{
			display: none;
		}
		
	/*cart stuff*/	
.quan{
	decoration: none;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	border-color: #f4f4f4;
	border-width: 1px;
	border-radius: 4px;
	
}
.txt-heading{padding: 5px 10px;font-size:1.1em;font-weight:bold;color:#fff;}
.btnRemoveAction{color:#5b5a5a;border:0;padding:2px 10px;font-size:0.9em;}
#btnEmpty{background-color:#5b5a5a;border:0;padding:1px 10px;color:#FFF; font-size:0.8em;font-weight:normal;float:right;text-decoration:none;}
.btnAddAction{background-color:#79b946;border:0;padding:3px 10px;color:#FFF;margin-left:1px;}
#shopping-cart {border-top: #f593ef 2px solid;margin-bottom:30px;}
#shopping-cart .txt-heading{background-color: #d824c9;}
#shopping-cart table{width:100%;background-color:#F0F0F0;}
#shopping-cart table td{background-color:#FFFFFF;}
.cart-item {border-bottom: #79b946 1px dotted;padding: 10px;}
#product-grid {border-top: #F08426 2px solid;margin-bottom:30px;}
#product-grid .txt-heading{background-color: #FFD0A6;}
.product-item {	float:left;	background:#F0F0F0;	margin:15px;	padding:5px;}
.product-item div{text-align:center;	margin:10px;}
.pro{padding-top:15px;}
.th1 {
	text-align: center;
}
.th2 {
	text-align: right;
}
.th3{
	text-align: left;
}

		
/*Logo resize*/
@media (max-width:767px) {
	.logo{
		display: none;
	}
	.navbar-nav>li>a {
	
	padding-top: 10px;
	padding-bottom: 20px;
	line-height: 20px
	
}
.nav>li>a {
	padding-top: 10px;
	padding-bottom: 20px;
	line-height: 20px
}

.navbar-nav>li{
	
	padding-bottom:20px;

}

}

@media screen and (min-width:0px) and (max-width:768px){
	.mobilelogo{
		display:block;
		float:left;
	}
	.carttitles{
		display:none;
	}
	.cartmobile{
		display:none;
	}
}
@media screen and (min-width:769px) and (min-width:1024px){
	.mobilelogo{
		display:none;
	}
	
	


}
.comment,
#addCommentContainer{
	
	/* Syling the comments and the comment form container */
	
	padding:12px;
	/*width:400px;*/
	position:relative;
	background-color:#fcfcfc;
	border:1px solid white;
	color:#888;
	margin-bottom:25px;
	
	/* CSS3 rounded corners and drop shadows */
	
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:4px;

	/*-moz-box-shadow:2px 2px 0 #c2c2c2;
	-webkit-box-shadow:2px 2px 0 #c2c2c2;
	box-shadow:2px 2px 0 #c2c2c2;*/
}

.comment .avatar{

	/*
	/	The avatar is positioned absolutely, 
	/	and offset outside the comment div
	/*/

	height:50px;
	left:-70px;
	position:absolute;
	width:50px;
	background:url('img/default_avatar.gif') no-repeat #fcfcfc;
	
	/* Centering it vertically: */
	
	margin-top:-25px;
	top:50%;

	-moz-box-shadow:1px 1px 0 #c2c2c2;
	-webkit-box-shadow:1px 1px 0 #c2c2c2;
	box-shadow:1px 1px 0 #c2c2c2;
}

.comment .avatar img{
	display:block;
}

.comment .name{
	font-size:20px;
	padding-bottom:10px;
	color:#d824c9;
}

.comment .date{
	font-size:13px;
	padding:6px 0;
	position:absolute;
	right:15px;
	top:10px;
	color:#d824c9;
}

.comment p,
#addCommentContainer p{
	font-size:18px;
	line-height:1.5;
	overflow-x:hidden;
}

#addCommentContainer input[type=text],
#addCommentContainer textarea{

	/* Styling the inputs */

	display:block;
	border:1px solid #ccc;
	margin:5px 0 5px;
	padding:3px;
	font-size:12px;
	color:#555;
	font-family:Arial, Helvetica, sans-serif;
	/*width: 300px;*/
	margin: 0 auto;
}

#addCommentContainer textarea{
	/*width:300px;*/
}

label{
	font-size:14px;
	color: #3F4146;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
}

label span.error{
	color:red;
	position:relative;
	right:-10px;
}

.con{
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	max-width: 1150px;
	margin: auto;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out
}
#main{
	position:relative;
	margin:0 auto;
	/*width:427px;*/
}